<!-- original header -->
<div class="bar bar-header bar-light">
  <h1 class="title">bar-light</h1>
</div>

<div class="bar bar-header bar-stable">
  <h1 class="title">bar-stable</h1>
</div>

<div class="bar bar-header bar-positive">
  <h1 class="title">bar-positive</h1>
</div>

<div class="bar bar-header bar-calm">
  <h1 class="title">bar-calm</h1>
</div>

<div class="bar bar-header bar-balanced">
  <h1 class="title">bar-balanced</h1>
</div>

<div class="bar bar-header bar-energized">
  <h1 class="title">bar-energized</h1>
</div>

<div class="bar bar-header bar-assertive">
  <h1 class="title">bar-assertive</h1>
</div>

<div class="bar bar-header bar-royal">
  <h1 class="title">bar-royal</h1>
</div>

<div class="bar bar-header bar-dark">
  <h1 class="title">bar-dark</h1>
</div>

<!-- sub header -->
<div class="bar bar-header">
  <h1 class="title">Header</h1>
</div>
<div class="bar bar-subheader">
  <h2 class="title">Sub Header</h2>
</div>
